### node etc ###

# Compiled Dirs (http://nodejs.org/api/addons.html)
client/dist/bundle.js
!client/dist/index.html

# Dependency directories
# Deployed apps should consider commenting these lines out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules/

# Config files
.env

# Database
mongo/
